In [1]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (1.3.1)
Requirement already satisfied: pytz>=2017.3 in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.1.2; however, version 21.2.1 is available.
You should consider upgrading via the '/home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: openpyxl in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.1.2; however, version 21.2.1 is available.
You should consider upgrading via the '/home/drapaiton/.cache/pypoetry/virtualenvs/tiendapago-examen-ea-xYsG0OIB-py3.9/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from pandas import DataFrame as DaFe

In [3]:
DATA_FILENAME = "Test Intermedio Practico de Excel.xlsx"
EMPTY_ROWS_AT_BEGINING = range(8)
FILE_COLUMNS = "B:G"

EXAMEN_1_COLUMN,EXAMEN_2_COLUMN,EXAMEN_3_COLUMN = 'Examen 1','Examen 2','Examen 3'
ALL_EXAMENES_COLUMNS = [EXAMEN_1_COLUMN,EXAMEN_2_COLUMN,EXAMEN_3_COLUMN]

ALUMNO_COLUMN = 'Alumno'
PROMEDIO_COLUMN = 'Promedio'
APROBADO_COLUMN = 'Aprobado (Si/No)'
CALIFICACION_APROVATORIA = 6.0

df = pd.read_excel(DATA_FILENAME,usecols=FILE_COLUMNS,skiprows=EMPTY_ROWS_AT_BEGINING)
df

       Alumno  Examen 1  Examen 2  Examen 3  Promedio  Aprobado (Si/No)
0     Alberto      10.0      10.0      10.0       NaN               NaN
1        Aldo       7.0       1.0       7.0       NaN               NaN
2   Alejandro       1.0       8.0       3.0       NaN               NaN
3      Arturo       8.0       1.0       3.0       NaN               NaN
4       Bryan       5.0      10.0       2.0       NaN               NaN
5      Carlos       8.0       8.0       3.0       NaN               NaN
6     Daniela      10.0       2.0       1.0       NaN               NaN
7     Eduardo       2.0       1.0       6.0       NaN               NaN
8       Erick       3.0       5.0       9.0       NaN               NaN
9       Erika       4.0       8.0       3.0       NaN               NaN
10    Gabriel       8.0      10.0       8.0       NaN               NaN
11    Gerardo       9.0      10.0       3.0       NaN               NaN
12       Gris       8.0       7.0       2.0       NaN               NaN
13  Guillermo       5.0       4.0       7.0       NaN               NaN
14     Isabel       4.0       6.0       8.0       NaN               NaN
15     Jimena       8.0       4.0       1.0       NaN               NaN
16      Jorge       1.0       2.0       8.0       NaN               NaN
17      Karen       5.0       5.0       3.0       NaN               NaN
18      Karla       3.0       4.0       9.0       NaN               NaN
19    Lesslie       1.0       5.0       4.0       NaN               NaN
20        Liz       5.0       6.0       6.0       NaN               NaN
21     Lorena      10.0       2.0       9.0       NaN               NaN
22      Lucas       2.0      10.0       2.0       NaN               NaN
23  Margarita       8.0       3.0       8.0       NaN               NaN
24    Mariana       2.0       7.0       3.0       NaN               NaN
25     Mariel       9.0      10.0       2.0       NaN               NaN
26      Marta       3.0       6.0       7.0       NaN               NaN
27     Miguel       9.0      10.0       2.0       NaN               NaN
28       Mile       9.0       6.0       5.0       NaN               NaN
29      Pablo      10.0       5.0       6.0       NaN               NaN
30    Paulina       8.0       2.0       3.0       NaN               NaN
31     Rafael       9.0       5.0       6.0       NaN               NaN
32     Raquel       7.0      10.0       5.0       NaN               NaN
33     Renata       8.0       1.0       5.0       NaN               NaN
34       Sara       9.0       8.0       6.0       NaN               NaN
35  Sebastian      10.0       4.0       6.0       NaN               NaN
36     Sergio       2.0       7.0       2.0       NaN               NaN
37     Silvia       1.0      10.0       2.0       NaN               NaN
38      Vania       9.0       1.0       5.0       NaN               NaN
39       Yair       1.0       3.0      10.0       NaN               NaN

In [4]:
"""FILL THE TABLE, execute this before all"""
# sum only examen punctuation
promedios:DaFe = df.loc[:,ALL_EXAMENES_COLUMNS].sum(axis=1).div(len(ALL_EXAMENES_COLUMNS))
promedios = promedios.round(1)
# insert results
df[PROMEDIO_COLUMN] = promedios

def it_is_a_passing_grade(row,column_of_average:str=PROMEDIO_COLUMN,
approval_grade:float = CALIFICACION_APROVATORIA,store_output_in_column:str=APROBADO_COLUMN):
    result = 'Si' if row[column_of_average] >= approval_grade else 'No'
    row[store_output_in_column] = result
    return row

df = df.apply(it_is_a_passing_grade, axis=1)

In [5]:
"""Numero de alumnos en la clase"""
alumnos = len(df.index)

print(alumnos) # 40 alumnos registrados

40

In [6]:
"""Aprobados"""

alumnos_aprovados = len(df[df[APROBADO_COLUMN] == 'Si'])
print(alumnos_aprovados) # 15 alumnos aprovados

15

In [7]:
"""Reprobados"""
examenes_reprovados = alumnos-alumnos_aprovados
print(examenes_reprovados) # 25 alumnos reprobados

25

In [8]:
"""Porcentaje de aprobados"""
alumnos_aprovados / alumnos * 100 # 37.5% de los alumnos han aprovado

37.5

In [9]:
"""top 3 mejores promedios y sus nombres"""
# get top 3 average
df.sort_values(by=PROMEDIO_COLUMN,ascending=False).head(3)[[ALUMNO_COLUMN,PROMEDIO_COLUMN]]

     Alumno  Promedio
0   Alberto      10.0
10  Gabriel       8.7
34     Sara       7.7

In [11]:
"""promedio total de clase, total y en cada uno de los examenes"""
df.describe().loc['mean'].round(1)

Examen 1    6.0
Examen 2    5.7
Examen 3    5.0
Promedio    5.6
Name: mean, dtype: float64